/* github.com/carlop3k - 2024  */

/* * {
  border: red 0.2px solid;
}
 */
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h3 {
  display: contents;
}

/* Title Sans*/
.fpfont {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fpfont.big {
  font-size: 2cm;
}
.fpfont.tittle {
  font-size: 1cm;
  text-align: center;
  margin-bottom: 2px;
}

.fpfont.little {
  font-size: 0.6cm;
  line-height: 10%;
}

.fpfont.paragraph {
  padding: 32px;
  padding-top: 0px;
  font-size: 18px;
  overflow-y: auto;
}

.hud {
  z-index: 1;
  position: absolute;
}

/* any button */
.fpbutton {
  width: 100%;
  margin: 2px 0px 2px 0px;
  height: 0.8cm;
  background-color: #e3c5fb;
  border: 2px solid black;
  border-radius: 4px;
  transition: background-color 0.4s cubic-bezier(.01,1.01,.27,.99);
  cursor: pointer;
}
.fpbutton:hover {
  background-color: #d0b2e9;
}

/* dropdown */
#dropdown {
  margin: 0.4cm;
  margin-top: 0px;
  top: 55px;
  position: fixed;
  border: 2px solid black;
  background-color: #8060c4;
  color: white;
  cursor: pointer;
  /*copied from fpbutton*/
  transition: background-color 0.4s cubic-bezier(.01,1.01,.27,.99);
}

#dropdown:hover {
  background-color: #988ab8;
}

#ddwn-content {
  color: white;
  border: 2px solid black;
  background: #8f53c8;
  position: fixed;
  margin: 0.4cm;
  margin-top: 0px;
  top: 86px;
  line-height: 60%;
  padding: 0.2cm;
}

/* coordinates */
#abcol {
  position: fixed;
  bottom: 0px;
  right: 6.4cm;
  margin: 0.4cm;
  width: 90px;
  height: 30px;
  text-align: center;
  align-content: center;
  background-color: seashell;
  border-radius: 4px;
  border: black solid 0.4px;
}

/* player count */
#pcount {
  position: fixed;
  bottom: 0px;
  right: 9.3cm;
  margin: 0.4cm;
  width: 60px;
  height: 30px;
  text-align: center;
  align-content: center;
  background-color: seashell;
  border-radius: 4px;
  border: black solid 0.4px;
}

#color-picker {
  right: 0px;
  bottom: 0px;
  margin: 0.4cm;
  position: fixed;
  display: grid;
  height: 6cm;
  background-color: #5752c7;
  transition: opacity 0.5s cubic-bezier(0, 0.86, 0.57, 1);
  z-index: 2;
  border: black solid 3px;
}

#color-input {
  height: 32px;
  width: 150px;
  margin: 0.2cm;
}

#color-block {
  margin: 0.2cm;
  cursor: crosshair;
  border: black solid 0.4px;
}

#color-label {
  position: fixed;
  bottom: 0px;
  right: 5.5cm;
  width: 32px;
  height: 32px;
  z-index: 3;
  margin: 0.4cm;
  margin-right: 0.4cm;
  margin-right: 0px;
  background-color: white;
  border: black solid 0.4px;
}

#alphanote {
  background-color: #1665c6;
  color: white;
  margin: 0px;
  width: 100%;
  height: 50px;
  line-height: 50%;
  text-align: center;
  position: fixed;
  border-bottom: black solid 2px;
  z-index: 2;
}

#canvas {
  position: relative;
  z-index: 0;
}
/* history mode hud */
#historyhud {
  position: fixed;
  width: 4.5cm;
  height: 2.5cm;
  background: rgb(160, 132, 228);
  top: 60px;
  left: 5.5cm;
  opacity: 0;
}

/* for items */
.mso {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  vertical-align: bottom;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

.mso.little {
  font-size: 20px;
}
.mso.big {
  font-size: 48px;
}

/** Menu containers */

/* notification */
#notification {
  width: 350px;
  max-height: 110px;
  top: 60px;
  position: fixed;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #8d3bf8;
  color: white;
  border: 3px black solid;
  border-radius: 4px;
  /* hide/show notif (anim is not reliable, yet) */
  transition-delay: 0.2s;
  transition: right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  right: -12cm;
}

/* Notification close button */
.closebutton {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  right: 5px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* Menu close button */
.closebutton.big {
  width: 48px;
  height: 48px;
  right: 2px;
}


/* TODO Notification line animation
@keyframes lineload {
  
} */

/* background with semi-transparent background */
#overlay {
  z-index: 1;
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  top: 0px;
  width: 100%;
  height: 100%;
  align-content: center;
  opacity: 0;
}


/*basic menu*/
.menu {
  width: 80%;
  height: 85%;
  background-color: #5f69fd;
  color: white;
  margin: auto;
  margin-top: 50px;
  border: 3px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /*fix for the button*/
  position: fixed;
  top: 5%;
  right: 10%;
}

.menu.mini {
  width: 30%;
  height: 35%;
  background-color: #5f69fd;
  color: white;
  /*fix for the button...*/
  top: 30%;
  right: 35%;
}

/* error menu */
#reloadwind {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  align-content: center;
  text-align: center;
  top: 0px;
  color: #ffffff;
  /* for animate */
  transition: opacity 1s cubic-bezier(.14,.7,.55,.97);
  opacity: 0;
}

@media only screen and (max-width: 300px) {
}
